* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(46, 37, 37);
}

.text-box-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

.format-icons {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
}

.format-btn {
    border: none;
    border-radius: 4px;
    background-color: #101010;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 14px;
    color: whitesmoke;
}

.format-btn.active {
    background-color: #61dafb;
    color: white;
}

.text-box {
    width: 80%;
    height: 100px;
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    resize: none;
    background-color: rgba(12, 10, 10, 0.263);
    color: white;
}

.submit-btn {
    margin-top: 8px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: green;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-left: 75%;
}

.format-btn.active {
    background-color: #61dafb;
    color: white;
}

.text-box.bold {
    font-weight: bold;
}

.text-box.italic {
    font-style: italic;
}

.text-box.underline {
    text-decoration: underline;
}

.text-box.strikethrough {
    text-decoration: line-through;
}

.file-icon {
    margin-left: 10px;
    color: #61dafb;
    cursor: pointer;
}

.upload-btn {
    display: inline-block;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: green;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-left: 2%;
}

.upload-btn input[type='file'] {
    display: none;
}

.file-preview {
    margin-top: 10px;
}

.file-preview img {
    max-width: 100%;
    max-height: 200px;
    display: block;
    margin-bottom: 5px;
}

.file-preview a {
    color: #61dafb;
    text-decoration: none;
}

.message-content {
    word-wrap: break-word;
    margin-bottom: 10px;
    color: white;
}

.message-sender {
    color: #61dafb;
    font-weight: bold;
    margin-bottom: 5px;
}

.file-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: rgb(47, 2, 247);
}
.message-content.message-text {
    width: 80%;
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    resize: none;
    background-color: rgba(12, 10, 10, 0.263);
    color: white;
    margin-bottom: 5px;
}
